# SPDX-FileCopyrightText: 2023 Comcast Cable Communications Management, LLC
# SPDX-License-Identifier: Apache-2.0

name: CI

on:
  pull_request:
  push:
    paths-ignore:
      - 'AUTHORS'
      - 'LICENSE'
      - 'NOTICE'
      - '**.md'
      - '.gitignore'
    tags-ignore:
      - 'v[0-9]+.[0-9]+.[0-9]+'
    branches:
      - master

jobs:
  test:
    name: Unit Tests
    runs-on: [ ubuntu-latest ]
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          fetch-depth: 0

      # Install the dependent packages
      - name: Install packages
        run: |
          sudo apt update
          sudo apt-get -y install valgrind libcunit1 libcunit1-doc libcunit1-dev libmsgpack-dev gcovr libtool xsltproc docbook-xsl uuid-dev libcurl4-openssl-dev lcov libmsgpack* libcjson-dev build-essential
          pip install codecov

      - name: Make Build Directory
        run: mkdir build

      - name: Get rtrouted  Binary
        working-directory: build
        run: |
          ../.github/scripts/rtrouted.sh

      - name: CMake
        working-directory: build
        run: |
          cmake .. -DWEBCONFIG_BIN_SUPPORT:BOOL=true -DWAN_FAILOVER_SUPPORTED:BOOL=true -DBUILD_GIT:BOOL=true -DDISABLE_VALGRIND:BOOL=${DISABLE_VALGRIND}

      - name: Unit tests run
        working-directory: build
        run: |
          ps aux 
          export RBUS_ROOT=${HOME}/rbus
          export RBUS_INSTALL_DIR=${RBUS_ROOT}/install && \
          export LD_LIBRARY_PATH=${RBUS_INSTALL_DIR}/usr/lib/rbus_temp_lib:${LD_LIBRARY_PATH}            
          export C_INCLUDE_PATH=${RBUS_INSTALL_DIR}/usr/include                   
          mkdir _install
          mkdir _install/lib
          cp ${RBUS_INSTALL_DIR}/usr/lib/librbus* _install/lib                   
          make all test 
              
      - name: Stop rtrouted
        run: |
          killall -9 rtrouted

      - name: Merge GCOV Reports for Sonarcloud
        working-directory: build
        run: |
          gcovr --xml coverage.xml -r .. || echo "Coverage generation skipped"

      - name: Upload Codecov.io
        if: always()
        uses: codecov/codecov-action@5c47607acb93fed5485fdbf7232e8a31425f672a # v4.6.0
        with:
          files: ./build/coverage.xml
          fail_ci_if_error: false
          token: ${{ secrets.CODECOV_TOKEN }}


